@import './base.css';

.d-flex{
    display: flex;
}

.bg{
    background-color: cadetblue;
}
.wrapper{
    width: 1280px;
    min-height: 100vh;
    height: 100%;
    margin: 0 auto;
    background-color: white
}
nav{
    padding: 20px 60px;
    border: 1px solid red;
}

.contents{
    padding: 20px 60px;
}